extends ./layout
block header
    title Conversation Room
    link(href="css/app.css", rel="stylesheet", type="text/css")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css", rel="stylesheet", type="text/css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
    script(src="https://static.opentok.com/v2/js/opentok.min.js")
    script(src="/socket.io/socket.io.js")
block content

    script(src="js/conversation.js")
    script(type="text/javascript").
        var roomId = "!{roomId}";
        var apiKey = !{apiKey};
        var sessionId = "!{sessionId}";
        var token = "!{token}"
        var type = "!{type}";

        $(document).ready(function () {
            initializeSession(roomId, apiKey, sessionId, token, type)
        });

    #wrapper
        #video
            #subscriber
            #publisher
        #content
            #fotoramaGalleryOne(class="fotorama", data-nav="thumbs", data-height="40%")
                a(href="http://s.fotorama.io/1.jpg")
                    img(src="http://s.fotorama.io/1.jpg")
                a(href="http://s.fotorama.io/2.jpg")
                    img(src="http://s.fotorama.io/2.jpg")
            #fotoramaGalleryTwo(class="fotorama", data-nav="thumbs", data-height="40%")
                a(href="http://s.fotorama.io/1.jpg")
                    img(src="http://s.fotorama.io/1.jpg")
                a(href="http://s.fotorama.io/2.jpg")
                    img(src="http://s.fotorama.io/2.jpg")
            if(type=='host')
                button#btnHost Give control to guest
            if(type=='guest')
                button#btnGuest Give control to host