extends ./layout
block header
    link(href="css/app.css", rel="stylesheet", type="text/css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
block content
    #wrapper
        button#generateBtn Generate session
        input(class = "input", type="text", id="guestUrl")
        input(class = "input", type="text", id="hostUrl")
        script(src="js/index.js")
