body, html {
    background-color: white;
    height: 100%;
}


#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#video{
    float: right;
    height: 100%;
    width: 360px;
}
#subscriber {
    position: absolute;
    left: 10px;
    top: 70px;
    width: 360px;
    height: 240px;
    border: 3px solid lightyellow;
    border-radius: 3px;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 70px;
    left: 10px;
    z-index: 100;
    border: 3px solid lightyellow;
    border-radius: 3px;
}
#content{
    position: absolute;
    float: left;
    width: 1400px;
    height: 900px;
    left: 390px;
}
#fotoramaGalleryOne{
    display: inline;
    padding-top: 50px;
    padding-left: 50px;
}
#fotoramaGalleryOne{
    display: inline;
    padding-top: 50px;
    padding-left: 50px;
}
#generateBtn{
    display: block;
    position: relative;
    left: 50%;
    top: 45%;
    margin-left: -125px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 17px;
}

.input{
    display: block;
    position: relative;
    left: 50%;
    top: 52%;
    width: 500px;
    margin-left: -250px;
    text-align: center;

    height: 45px;
    margin-bottom: 10px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 17px;
}